@{
    Layout = "_Layout";
}

@model SweetSavory.Models.Flavor

<h2>Edit Flavor: @Model.Name</h2>
<hr>

@if(!ViewData.ModelState.IsValid)
{
    <p>@Html.ValidationMessageFor(model => model.Name)</p>
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <input type="submit" value="Update">
}
<hr>

<p>@Html.ActionLink("Back", "Details", new {id = Model.FlavorId})</p>