@{
    Layout = "_Layout";
}

@using SweetSavory.Models;

<h1>Sweet and Savory Treats</h1>
<hr>

<h3>Treat Menu</h3>
@if (ViewBag.Treats.Count == 0)
{
    <p>There are currently no treats created for this menu.</p>
}
@foreach (Treat treat in ViewBag.Treats)
{
    <h4> @Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId}) : $@treat.Price </h4>
}
<hr>

<h3>Flavor options:</h3>
@if (ViewBag.Flavors.Count == 0)
{
    <p>There are no flavors listed in the database.</p>
}
else
{
    <p>Click one to see all treats on the menu that are associated with it.</p>
    @foreach (Flavor flavor in ViewBag.Flavors)
    {
        <h5> @Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new { id = flavor.FlavorId}) </h5>
    }
}
<hr>

@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("Create a Treat for the Menu", "Create", "Treats")</p>
    <p>@Html.ActionLink("Add a Flavor", "Create", "Treat")</p>
    <hr>
}

@if (User.Identity.IsAuthenticated)
{
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" value="Log out" />
    }
}
else
{
    <p>@Html.ActionLink("Register Account", "Register", "Account")</p>
    <p>@Html.ActionLink("Log In", "Login", "Account")</p>
}


